@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ff9c77, #ff664a);
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
.container{
    padding: 60px 0;
    width: 1240px;
    margin: auto;
}
.hero-section{
    display: flex;
    margin: auto;
}
h1{
    margin: 0;
}
p{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-heading{
    display: flex;
}
.hero-heading h1{
    font-family: Yeseva One;
    font-size: 60px;
    line-height: 80px;
    color: #333333;
}
.hero-heading h1 span{
    color: #FFAD5A;
}
.hero_text_border{
    width: 4px;
    height: 124px;
    background-color: #ff664a;
    margin: 20px 15px 0 0;
}
.hero-text{
    margin: 20px 120px 30px 0;
}
.hero-text p{
    font-size: 20px;
    line-height: 36px;
    color:#3E3E3E;
}
.section-btn{
    margin-top: 20px;
}
.btn{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 35px;
    background-color: #FF5959;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
    background-color: #fff;
    color: #FF5959;
    border: 1px solid #FF5959;
}
.hero-footer-text{
    margin: 35px 0 0 0; 
    font-size: 18px;
    color: #434343;  
}
.hero-section-img{
    width: 550px;
}
.second-section-heading h1,.fifth-section h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    color: #333333;
    text-align: center;
}
.second-section-heading h1 span{
    color: #FFAD5A;
}

.second-section-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 50px;
}
.mission-section{
    border-radius: 26px;
    margin: 15px;
    padding: 40px 40px;
}
.mission-section h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
}
.mission-section p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #424242;
}
.mission-section img{
    width: 160px;
}
.first{
    background-color: rgba(78, 158, 166, 0.1);
}
.second{
    background-color: rgba(255, 87, 87, 0.1);
}
.third{
    background-color: #FFF4D6;
}
.third-section{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: 180px 150px;
}
.third-section-grid,.fourth-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
    }

.third-section-img,.fourth-section-img{
    width: 85%;
}
.fourth-section{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: bottom right 200px;
}
.fourth-section-img{
    text-align: right;
}
.third-section-right,.fourth-section-left{
    display: flex;
    align-items: center;
}
.fourth-section-left{
    padding-right: 90px;
}
.fourth-section-right{
    text-align: right;
}
.third-section-content h1,.fourth-section-content h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 68px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.third-section-content p, .fourth-section-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
}
.third-section-btn{
    margin-top: 30px;
}
.fifth-section{
    padding: 60px 0 0 0;
}
.fifth-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
    }
.fifth-section-left input, .fifth-section-left textarea{
    display: block;
    border: 1px solid #FF5959;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    margin: 10px 0;
}
.fifth-section-left{
    box-shadow: 5px 6px 14px -1px rgba(0,0,0,0.15);
    padding: 40px;
    border-radius: 30px;
}

.form-name, .form-email, .form-msg{
    display: block;
}
.label{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.fifth-section-right{
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.fifth-section-content h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-bottom: 30px;
}
.fifth-section-content h5{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}
.fifth-section-content .profession{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
}
.fifth-section-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
    margin: 10px 0;
}